.nav-bar{
  display: flex;
  justify-content: space-between;
  background-color: #270858;
  padding: 9px;
  color: #FFFFFF;
}
.brand{
  padding-top: 0vh;
  font-weight: bolder;
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFFFFF;

}
.search-bar{
  width: 60%;

}
.search-bar input{
width: 46%;

}
input::placeholder{
  padding: 10px;
  font-weight: bold;
}
.cart{
  width: 20%;
  text-align: center;
  font-weight:bolder ;
  font-size: 1.5rem;
float: right;
text-decoration: none;
color: #FFFFFF;

}
.nav-bar-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #4b1b78;
  color: #FFFFFF;
font-weight: bold;
}
.img{
display: flex;
justify-content: center;
text-align: center;

}
.img img{
  width: 350px;
  height: 350px;
}
.con{
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.items:hover{
  cursor: pointer;
}
.container-fluid{
  font-size:15px;
  font-weight: bolder;
}